/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;

}



/* Positioning Classes */
.summer-grass {
  width: 70%;
  height: 600px;
  float: left;
  margin-right: 24px;
}

.shoe-archive {
  width: 27.5%;
  margin-bottom: 20px;
  height: 600px;
  overflow: auto;
}

.deals {
  column-count: 3;
}

section#details {
  column-count: 3;
  width: 74%;
  margin-left: 180px;
}

.contact {
  width: 31.333%;
  float: left;
  margin-right: 700px;
}

.links {
  width: 31.333%;
  float: left;
}

.follow {
  width: 31.333%;
}